.event-card {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 70vw;
  padding: 2rem 0;
}

picture {
  height: 100%;
  width: 40%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2rem;
  padding: 2rem;
  max-width: 60%;
}

.event-info {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: 0.8rem;
  justify-content: space-between;
}

.event-info i {
  margin-right: 0.4rem;
  color: var(--green);
}

.keywords {
  color: #8c9476;
  font-style: italic;
  background-color: #fefae0;
  width: fit-content;
  padding: 5px;
  font-weight: bold;
}

.event-info div {
  color: #898989;
}

h2 {
  font-size: 2rem;
  color: var(--brownish);
}
