@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,200;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Karla", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

:root {
  --green: #ccd5ae;
  --lightgreen: #e9edc9;
  --darkgreen: #8c9476;
  --cream: #fefae0;
  --beige: #faedcd;
  --brownish: #d4a373;
}

h1 {
  font-size: 30px;
  border-top: 1px solid var(--beige);
  color: var(--green);
  padding: 10px;
}

button {
  border-radius: 5px;
}

.container {
  margin-top: 80px;
}
