.attendees-pic {
  width: auto;
  height: 100%;
}
.attendees-img-div {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.event-infos span,
.subscribe-attendees p {
  font-weight: bold;
  color: #d4a373;
}
h1 {
  color: var(--darkgreen);
}

.subscribe-button {
  background-color: var(--beige);
  color: var(--darkgreen);
  padding: 0.5rem;
  border-radius: 10%;
  justify-self: center;
  font-weight: bold;
}

.one-page {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.one-event-image {
  height: 100%;
  width: 50%;
  margin: auto;
}
.edit-delete-div {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 2rem;
}
.one-event-page {
  display: flex;
  flex-direction: column;
}
.one-event-infos {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 50vw;
}
.time-loc-price-div {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  color: var(--darkgreen);
  min-width: fit-content;
  padding-left: 5rem;
}

#delete-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#delete-form .delete-container {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#delete-form .delete-container .delete-confirm {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px;
}

#delete-form .delete-container .delete-confirm button {
  padding: 5px;
  transition: all 0.1s ease-in-out;
}

#delete-form .delete-container .delete-confirm button:hover {
  transition: all 0.1s ease-in-out;
  background-color: var(--darkgreen);
  color: var(--beige);
}

.edit-btn,
.delete-btn {
  color: var(--darkgreen);
  background-color: var(--beige);
  padding: 0.5rem;
  border-radius: 10%;
  margin: 0 1rem;
  font-weight: bold;
}

.edit-btn {
  padding-left: 1rem;
  padding-right: 1rem;
}

.edit-btn,
.delete-btn:hover {
  cursor: pointer;
}

.attendees-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all-attendees {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
